<div id="<%= dom_id task %>">
    <p>
      <% maxLength = 40 %>
      <% ellipsis = '...' %>
      <%# Next in Line %>
      <a data-id="<%= task.id %>" href="<%= edit_task_path(task) %>">
        <% title_lines = task.title.split("\n") %>
        <% first_line = title_lines[0] %>
        <% truncated_line = first_line.length > maxLength ? first_line.truncate(maxLength, separator: ' ') : first_line %>
        <%= truncated_line %>
        <%= ' _' if title_lines.length > 1 %>
      </a>
      <br>
      <!-- <a href="<%= task_path(task) %>" style="font-size: 70%">Backlog</a> - 
      <a href="<%= task_path(task) %>" style="font-size: 70%">Idea</a> -->
    </p>  
</div>