
    <% if current_user.present? %>

        <%= render "tasks/short_form" %>

        <!-- Doing Section -->
        <div class="lg:my-2 text-xl font-bold text-orange-600 mb-2 lg:block">Doing</div>
        <div class="p-2">
            <% if @doing.present? %>
                <% @doing.each do |doing| %>
                    <%= render "tasks/task_item", task: doing %>
                <% end %>
            <% else %>
                Nothing to show yet.
            <% end %>
        </div>

        <!-- Backlog Section -->
        <div class="lg:my-2 text-xl font-bold text-orange-600 mb-2 lg:block">Backlog</div>
        <div class="lg:my-2 p-2">
            <% if @backlog.present? %>
                <% @backlog.each do |backlog| %>
                    <%= render "tasks/task_item", task: backlog %>
                <% end %>
            <% else %>
                Nothing to show yet.
            <% end %>
        </div>

        <!-- Ideas Section -->
        <div class="lg:my-2 text-xl font-bold text-orange-600 mb-2 lg:block">Ideas</div>
        <div class="lg:my-2 p-2">
            <% if @ideas.present? %>
                <% @ideas.each do |idea| %>
                    <%= render "tasks/task_item", task: idea %>
                <% end %>
            <% else %>
                Nothing to show yet.
            <% end %>
        </div>

        <!-- Divider -->
        <div class="border-t border-gray-300 my-4"></div>
        <p class="text-xs text-gray-500 space-x-1"><%= link_to 'Done Tasks', completed_path %></p>

    <% else %>
        
        <%= render "home/home-page" %>
        
    <% end %>
