<% if current_user.present? %>
    <%= form_with model: @task do |form| %>
    <%= form.text_field :title %>
    <%= form.submit %>
    <% end %>
    <fieldset>
        <legend>Doing</legend>
        <% if @doing.present? %>
            <% @doing.each do |doing| %>
                <%= render "tasks/task_item", task: doing %>
            <% end %>
        <% else %>
                <p>Nothing yet.</p>
        <% end %>
        
    </fieldset>

    <fieldset>
        <legend>Backlog</legend>
        <% if @backlog.present? %>
            <% @backlog.each do |backlog| %>
                <%= render "tasks/task_item", task: backlog %>
            <% end %>
        <% else %>
                <p>There Backlog is empty! What?</p>
        <% end %>
    </fieldset>
    
    <fieldset>
        <legend>Ideas</legend>
        <% if @ideas.present? %>
            <% @ideas.each do |idea| %>
                <%= render "tasks/task_item", task: idea %>
            <% end %>
        <% else %>
                <p>No Ideas?</p>
        <% end %>
    </fieldset>

    <p><%= link_to 'Done Tasks', completed_path %></p>

<% else %>
  <p>Hi, to continue please 
    <%= link_to 'log in', new_user_session_path %> or <%= link_to 'register', new_user_registration_path %>.</p>
  <p>If you like to learn what the SixTasks method is all about 
    please visit <a target="_blank" href="https://www.sixtasks.com">SixTasks.com</a>
  </p>
<% end %>
