<%= form_with(model: morning_page) do |form| %>
  <% if morning_page.errors.any? %>
    <div style="color: red">
      <ul>
        <% morning_page.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.rich_text_area :body, 
      data: { controller: "autosave", autosave_target: "editor", action: "trix-change->autosave#save" },
      class: "p-2.5 w-full h-[calc(100vh-174px)] overflow-auto text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-sky-500 focus:border-sky-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-sky-500 dark:focus:border-sky-500", 
      placeholder: "Write your thoughts here..." %>
  </div>

  <div>
    <input type="hidden" name="url" id="autosave-url" value="<%= morning_page_path(morning_page) %>">
  </div>

  <div>
    <%= form.submit "Update", class: "mt-4 me-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer" %> 
    <span id="autosave-status" class="ms-5 text-gray-500"></span>
  </div>
<% end %>