<%= form_with(model: morning_page) do |form| %>
  <% if morning_page.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(morning_page.errors.count, "error") %> prohibited this morning_page from being saved:</h2>

      <ul>
        <% morning_page.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.rich_text_area :body, cols: "60", rows: "15" %>
  </div>

  <div>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
