<%= form_with(model: morning_page) do |form| %>
  <% if morning_page.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(morning_page.errors.count, "error") %> prohibited this morning_page from being saved:</h2>

      <ul>
        <% morning_page.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.rich_text_area :body, 
      class: "p-2.5 w-full h-[calc(100vh-174px)] overflow-auto text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", 
      placeholder: "Write your thoughts here..." %>
  </div>

  <div>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
