<trix-toolbar id="trix-toolbar-1" class="sticky top-0 z-10 bg-gray-50 shadow-md border-b border-gray-300 p-4 pb-1"></trix-toolbar>

<div class="flex-1 flex flex-col overflow-hidden">
  <%= form_with model: @morning_page, remote: true, 
        class: "flex-1 flex flex-col overflow-hidden", html: { data: { controller: "savepage word-count" } } do |f| %>
    
    <!-- Span fixed to the bottom right corner, desktop only. Shows the wordcount -->
    <span class="hidden lg:block fixed bottom-16 right-10 m-4 bg-lime-100 text-gray-500 py-2 px-4 rounded">
      <span id="word-count" class="text-gray-700" data-word-count-target="wordCount"><%= @word_count %> words</span>
    </span>

        <!-- Placeholder for the error message -->
    <div class="my-4 p-2 bg-red-300" data-savepage-target="error" style="display: none;">
      An error occurred while saving. Please try again.
    </div>

    <!-- Textarea (or Trix Editor) -->
    <div class="flex-1 p-4 overflow-hidden">
      <%= f.rich_text_area :body,
        toolbar: "trix-toolbar-1",
        class: "w-full h-full p-2 ", 
        data: { action: "input->savepage#debouncedSave", savepage_target: "content", word_count_target: "content" },  
        style: "border: none;"
      %>
    </div>
  <% end %>
</div>

    <!-- Footer (Sticky with 2 Rows) -->
    <footer class="bg-gray-100 py-4 w-full">

      <div class="flex ">
        <div class="w-1/2 py-4">
          <%= link_to "Archive", archive_morning_pages_path, 
            class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded" %>
        </div>

        <div class="w-1/4 py-4">
          <div id="autosave-status" class="text-gray-500 transition-opacity duration-1000">&nbsp;</div>
        </div>
        
        <div class="w-1/4 pt-4 text-end">
          <%= link_to "Back to tasks", root_path, 
            class: "ms-4 text-base font-bold text-blue-600 hover:text-gray-900" %>
        </div>
      </div>
      
    </footer>
  

<script>
  document.addEventListener("trix-initialize", function(event) {
  const toolbar = document.getElementById("trix-toolbar-1");
  if (toolbar) {
    event.target.toolbarElement = toolbar;
  }
});
</script>