
<%= form_with(model: morning_page, html: { class: "lg:w-3/4" }) do |form| %>

  <% if morning_page.errors.any? %>
    <div style="color: red">
      <ul>
        <% morning_page.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <input type="hidden" name="url" id="autosave-url" value="<%= morning_page_path(morning_page) %>">
  </div>

  <div data-controller="autosave word-count trix-timestamp"
    data-autosave-url="<%= morning_page_path(morning_page) %>">

    <%= form.rich_text_area :body, 
      data: { 
        autosave_target: "editor",
        word_count_target: "editor",
        trix_timestamp_target: "editor",
        action: "trix-change->autosave#save trix-change->word-count#updateWordCount",
      },
      class: "p-2.5 w-full h-[calc(100vh-174px)] overflow-auto text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-sky-500 focus:border-sky-500 ", 
      placeholder: "Write your thoughts here..." %>
    
    <div class="grid grid-cols-4 gap-4 mt-4">
      <div class="col-span-2">
        <%= form.submit "Update", class: "bg-blue-500 hover:bg-blue-700 text-white md:font-bold py-1 px-2 rounded cursor-pointer" %>  
        <%= link_to "Archive", archive_morning_pages_path, class: "bg-gray-600 hover:bg-gray-700 text-white md:font-bold py-1 px-2 rounded cursor-pointer" %>
      </div>
      <div class="col-span-1">
        <span id="autosave-status" class="text-gray-500"></span>
        <button type="button" data-action="click->word-count#insertTimestamp" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Insert Timestamp</button>
      </div>
      <div class="col-span-1">
        <span id="word-count" class="text-gray-700" data-word-count-target="wordCount">0 words</span>
      </div>
    </div>
  </div>

<% end %>