        <!-- Sidebar -->
        <aside style="z-index: 999;" data-controller="main" id="mainSidebar" class="bg-gray-800 text-white w-64 min-w-64 h-screen fixed inset-y-0 left-0 transform -translate-x-full lg:translate-x-0 lg:relative transition-transform duration-300 ease-in-out">
          <div class="flex justify-between items-center p-4">
              <h1 class="text-3xl">SixTasks</h1>
              <button data-action="click->main#toggleSidebar" class="lg:hidden">
                  <svg class="w-6 h-6 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
                  </svg>
              </button>
          </div>
  
          <!-- Menu Items -->
          <ul>
              <li class="p-2 hover:bg-gray-700 transition-colors duration-300 group">
                  <a href="/" class="flex items-center px-4 py-2 text-gray-100 hover:bg-gray-700">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                      </svg>
                      Home
                  </a>
              </li>
              <% if user_signed_in? %>
              <li class="p-2 hover:bg-gray-700 transition-colors duration-300 group">
                  <%= link_to morning_pages_path, class: "flex items-center px-4 py-2 text-gray-100 hover:bg-gray-700" do %>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 2a10 10 0 100 20 10 10 0 000-20zM12 6a4 4 0 110 8 4 4 0 010-8z" />
                    </svg>
                    Morning Page
                  <% end %>
                </li>
                <li class="p-2 hover:bg-gray-700 transition-colors duration-300 group">
                  <%= link_to edit_user_registration_path, class: "flex items-center px-4 py-2 text-gray-100 hover:bg-gray-700" do %>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A9.953 9.953 0 0112 15c2.21 0 4.21.722 5.879 1.804M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                    </svg>
                    My Profile
                  <% end %>
                </li>
                <li class="p-2 hover:bg-gray-700 transition-colors duration-300 group">
                  <%= button_to destroy_user_session_path, method: :delete, class: "flex items-center px-4 py-2 text-gray-100 hover:bg-gray-700" do %>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                    Log Out
                  <% end %>
                </li>
              <% else %>
              <li class="p-2 hover:bg-gray-700 transition-colors duration-300 group">
                  <%= link_to new_user_session_path, class: "flex items-center px-4 py-2 text-gray-100 hover:bg-gray-700" do %>
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 11V7a4 4 0 00-8 0v4H4a2 2 0 00-2 2v6a2 2 0 002 2h16a2 2 0 002-2v-6a2 2 0 00-2-2h-1zM8 7a2 2 0 014 0v4H8V7z" />
                      </svg>
                      Login
                  <% end %>
              </li>
              <li class="p-2 hover:bg-gray-700 transition-colors duration-300 group">
                  <%= link_to new_user_registration_path, class: "flex items-center px-4 py-2 text-gray-100 hover:bg-gray-700" do %>
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 11V7a4 4 0 10-8 0v4H5a2 2 0 00-2 2v6a2 2 0 002 2h14a2 2 0 002-2v-6a2 2 0 00-2-2h-3zM8 7a2 2 0 114 0v4H8V7zM12 14h4m-2-2v4" />
                      </svg>
                      Register
                  <% end %>
              </li>
              <% end %>
          </ul>
      </aside>