<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "SixTasks" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="min-h-screen flex flex-col bg-gray-50">

    
    <%= render "layouts/navbar" %>
  

    <!-- <div class="container mx-auto px-4 py-4 flex justify-between items-center max-w-6xl"> -->
      <div class="container mx-auto px-4 py-4 max-w-5xl flex-1 flex flex-col">
      <!-- Alert/ Notice -->
      <div data-controller="alert">
        
        <% if notice.present? %>
        <div data-alert-target="notice" class="bg-blue-100 border border-blue-400 text-blue-700 mb-4 px-4 py-3 rounded relative" role="alert">
          <span class="block sm:inline"><%= notice %></span>
          <span data-action="click->alert#closeNotice" class="absolute top-0 bottom-0 right-0 px-4 py-3">
            <svg class="fill-current h-6 w-6 text-blue-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <title>Close</title>
              <path d="M14.348 5.652a1 1 0 00-1.414 0L10 8.586 7.066 5.652a1 1 0 10-1.414 1.414L8.586 10l-2.934 2.934a1 1 0 101.414 1.414L10 11.414l2.934 2.934a1 1 0 001.414-1.414L11.414 10l2.934-2.934a1 1 0 000-1.414z"/>
            </svg>
          </span>
        </div>
        <% end %>

        <% if alert.present? %>
        <div data-alert-target="alert" class="bg-red-100 border border-red-400 text-red-700 mb-4 px-4 py-3 rounded relative" role="alert">
          <span class="block sm:inline"><%= alert %></span>
          <span data-action="click->alert#closeAlert" class="absolute top-0 bottom-0 right-0 px-4 py-3">
            <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <title>Close</title>
              <path d="M14.348 5.652a1 1 0 00-1.414 0L10 8.586 7.066 5.652a1 1 0 10-1.414 1.414L8.586 10l-2.934 2.934a1 1 0 101.414 1.414L10 11.414l2.934 2.934a1 1 0 001.414-1.414L11.414 10l2.934-2.934a1 1 0 000-1.414z"/>
            </svg>
          </span>
        </div>
        <% end %>

      </div><%# End of Alert/ Notice %>
      
      <%# Main Content %>
      <%= yield %> 
    </div>

    
  </body>
</html>
